<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
    <form action="/" method="get">
        <button>Main Page</button>
    </form>
    <h1>My Posts</h1>
        <% for(var i = 0; i < posts.length; i++) { %>
            <div class="post"><h2>Post <%= i+1 %></h2>
            <p><b>Title:  </b><%= posts[i].title %></p>
            <p><b>Categories:  </b><% for(var j = 0; j < posts[i].category.length; j++) { %>
            <%=posts[i].category[j]%> 
            <% if(j+1 < posts[i].category.length) { %>
        <%=", " %>
        <%  } %> 
        <% } %>
        </p>
        <p> <b>Description:  </b><%= posts[i].description %></p>
        <p><b>Location:  </b><%= posts[i].location %></p>
        <p><b>Price:  </b><%= posts[i].price %></p>
        <p><b>Delivery:  </b><%= posts[i].delivery %></p>     
        <p><b>Date:  </b><%= posts[i].date %></p>
        <form action="/deletepost/<%= posts[i].id %>" method="delete"><button>Delete post</button></form>
        <form action="/modifymypost/<%= posts[i].id %>" method="get"><button>Modify post</button></form>
        <br><br></div>
      <% } %>
</body>
</html>